<section scrollEnd (nearEnd)="onScrollEnd()" class="list-products">

   @if(firstLoad()) {
       <ng-container  *ngTemplateOutlet="skeleton"  />
   } @else {
 
           @for (product of products() ; track product.id) {
               @defer (hydrate on hover) {
                  <app-card-product [product]="product" />
               }      
               @placeholder {
                 <ngx-skeleton-loader   
                     [theme]="{
                        'border-radius': '15px',
                        height : '469px',
                        width : '300px',
                     }"
                     />
               }   
         } 
           
      } 
 

   @if(listProducts.isLoading()) {
       <ng-container  *ngTemplateOutlet="skeleton"  />
   }

</section>

@if(listProducts.error()) { 
   <p>Something went wrong, please try again.</p>
   <button mat-raised-button (click)="listProducts.reload()" > Reload </button>
}

<ng-template #skeleton>
   <div class="list-products">
      @for (_ of [].constructor(5); track $index) {     
          <ngx-skeleton-loader   
            [theme]="{
               'border-radius': '15px',
               height : '469px',
               width : '300px',
            }"/>
      }
   </div>
  
</ng-template>